@model SellerOrderViewModel;
@{
    Layout = "_ClientLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 m-1 p-1">
            <div class="m-3 p-3">
                <h2>Мои заказы</h2>
            </div>
            @foreach (var i in Model.OrderProducts)
            {
                @if (i.Status != "Подан запрос на возврат")
                {   
                    <div class="box-shadow m-1">
                    <form asp-action="OrderProductInfo" asp-controller="Seller" method="get">
                        <input type="hidden" value="@i.ProductId" name="productId">
                        <input type="hidden" value="@i.OrderId" name="orderId">
                        <div class="row border-dark m-3 p-3">
                            <div class="col-4">
                                <img class="goodInfoSettings" src="data:image/jpeg;base64,@(Convert.ToBase64String(@i.Product.Image))" />
                            </div>

                            <div class="col-5">
                                <h2>@i.Product.Name</h2>
                                <h5>Количество: @i.Quantity</h5>
                                <h5>Статус: @i.Status</h5>
                                <h5>Цена: @i.Product.Price.PriceHistory.Value</h5>
                                @if(i.Status == "В сборке") {
                                    <button type="submit" class="btn btn-outline-danger">Отправить заказ</button>
                                }
                            </div>
                        </div>
                    </form>
                    </div>
                }
                @if (i.Status == "Подан запрос на возврат")
                {
                    <form asp-action="ReportInfo" asp-controller="Report" method="get">
                        <input type="hidden" value="@i.ProductId" name="productId">
                        <input type="hidden" value="@i.OrderId" name="orderId">
                        <div class="row border-dark m-3 p-3">
                            <div class="col-4">
                                <img class="goodInfoSettings" src="data:image/jpeg;base64,@(Convert.ToBase64String(@i.Product.Image))" />
                            </div>

                            <div class="col-5">
                                <h2>@i.Product.Name</h2>
                                <h5>Количество: @i.Quantity</h5>
                                <h5>Статус: @i.Status</h5>
                                <h5>Цена: @i.Product.Price.PriceHistory.Value</h5>
                                <button type="submit" class="btn btn-outline-danger">Подробнее</button>

                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>