@model OrderProduct;
@{
    Layout = "_ClientLayout";
    ViewBag.Title = "Информация о заказе";
}

<div class="container-fluid">
    <div class="row offset-4">
        <div class="col-8 m-2 p-2">
            <div class="row">
                <div class="col-8 mt-4 bg-light borderform">
                <h3>Информация о заказе</h3>            
                <p>Номер заказа: @Model.Order.Id</p>            
                <p>Дата оформления: @Model.OrderDate</p>
                <p>Статус: @Model.Status</p>
                    @if(Model.TrackNumber != null)
                    {
                        <p>Код отслеживания: @Model.TrackNumber</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-8 mt-4 bg-light borderform">
                <h3>Информация о клиенте</h3>
                <p>Клиент: @Model.Order.Client.UserInfo.Surname @Model.Order.Client.UserInfo.Name @Model.Order.Client.UserInfo.MiddleName</p>
                <p>Телефон: @Model.Order.Client.UserInfo.PhoneNumber</p>                
                </div>
            </div>

            <div class="row">
                <div class="col-8 mt-4 bg-light borderform">
                <h3>Информация о продавце</h3>
                <p>Продавец: @Model.Product.Seller.UserInfo.Surname @Model.Product.Seller.UserInfo.Name @Model.Product.Seller.UserInfo.MiddleName</p>
                <p>Магазин: @Model.Product.Seller.Company.Name</p>                
                <p>ИНН: @Model.Product.Seller.Company.INN</p>
                <p>ОГРН: @Model.Product.Seller.Company.OGRN</p>
                @if (Model.Status != "Доставлен") {
                    <form asp-action="returnOrder" asp-controller="Order" method="get">
                        <input type="hidden" asp-for="@Model.OrderId" value="@Model.OrderId">
                        <input type="hidden" asp-for="@Model.ProductId" value="@Model.ProductId">
                        <div>                            
                            <button type="submit" class="btn btn-outline-danger mt-2 mb-2">Запросить возврат</button>
                        </div>
                    </form>                    
                }    
                </div>
            </div>

            <div class="mt-2">
            <form asp-action="CompleteOrder" method="post">
                <input type="hidden" asp-for="@Model.ProductId" value="@Model.ProductId"/>
                <input type="hidden" asp-for="@Model.OrderId" value="@Model.OrderId"/>
                @if(Model.Status != "Подтвержден") {
                <button type="submit" class="btn-outline-primary btn">Подтвердить заказ</button>
                }
                <a asp-action="OrderList" asp-controller="Client" class="btn btn-outline-primary">Вернуться</a>
            </form>
            </div>
        </div>
    </div>
</div>
