@model ReportViewModel
@{
    Layout = "_ClientLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Жалобы на заказ</h2>

            <table class="table table-bordered">
                <thead class="thead">
                    <tr>
                        <th>Номер заявления</th>
                        <th>Продукт</th>
                        <th>Причина</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>                       
                        @foreach(var i in Model.orderReports)
                        {
                            <td>@i.Id</td>                
                            <td>
                                @foreach(var j in i.Order.Products)
                                {
                                    <p>@j.Name</p>
                                }
                            </td>
                            <td>@i.Reason.Name</td>
                            <td>@i.Commentary</td>                            
                            <td>
                            <form asp-action="ReportInfo" asp-controller="Report">
                                <input asp-for="@Model.OrderReport.Id" value="@i.Id" type="hidden">                                
                                <button type="submit" class="btn btn-sm btn-outline-danger">Подробнее</button>
                            </form>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>